@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary:  'Lato', sans-serif;
    --color-primary: #3F51B5;
    --color-secondary: #E91E63;
    --color-destacado: #FFC107;
    --color-destacado2: #FFA300;
    --color-background: #F5F5F5;
    --color-text: #333333;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Header */
.header {
    background-color: var(--color-primary);
    border-bottom: 10px solid var(--color-destacado);
    color: white;
}

.header__title {
    font-family: var(--font-primary);
    font-size: 2.5rem;
}

/* Main */
.main {
    background-color: var(--color-background);
}

.main__title, .section__title {
    font-family: var(--font-primary);
    color: var(--color-text);
    font-size: 1.5rem;
}

.paragraph__text {
    font-family: var(--font-secondary);
}

.btn button {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    outline: none;
}

.btn {
    background-color: var(--color-destacado);
    color: var(--color-text);
    border: none;
}

.btn:focus {
    box-shadow: none;
}

.btn:hover {
    background-color: var(--color-destacado2);
    color: var(--color-text);
}

/* Footer */
.footer {
    margin-top: auto;
    padding: 20px;
    background-color: var(--color-primary);
    border-top: 5px solid var(--color-destacado);
}

.footer__text {
    font-family: var(--font-text);
    font-size: 1rem;
    color: white;
    text-align: center;
}

.footer__link {
    color: var(--color-destacado);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.footer__link:hover {
    text-decoration: none;
    color: var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
}

.footer__heart {
    font-size: 1.2rem;
    color: var(--color-pink);
    margin-left: 5px;
}

.footer__credits {
    font-size: 14px;
}


